# MySQL Configuration
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=db_default
MYSQL_USER=cpe241_user
MYSQL_PASSWORD=cpe241_password

# PostgreSQL Configuration
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db

# pgAdmin Configuration
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=pgadmin_password

# Service Ports
DB_DEFAULT_PORT=3306
PHPMYADMIN_PORT=8081
POSTGRES_PORT=5432
PGADMIN_PORT=8082
